body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(206, 229, 255);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    background: rgba(0, 51, 102, 0.9);
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav.nav-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease; /* Add a smooth transition when hiding the navigation bar */
}

nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;  /* Ensure relative positioning for the ::after element */
}

nav a:hover {
    background-color: #004494;
}

/* Underline effect */
nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.6s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 100%;
}

.nav-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}

#scrollTopBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Fixed position to stay at the bottom right corner */
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007bff; /* Button background color */
    color: white; /* Text color */
    border: none;
    border-radius: 50%; /* Rounded shape */
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

#scrollTopBtn:hover {
    background-color: #0056b3; /* Change background color on hover */
}

footer {
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
}

.footer-links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.logo {
    width: 280px;
    height: 250px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.sliki {
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 280px;
    height: 250px;
    margin-top: 60px;
    z-index: 1; /* Default z-index */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.sliki:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Higher z-index when hovered */
}

.info-container {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    color: #003366; /* Text color matching the theme */
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info-container h2 {
    margin-top: 0;
    font-size: 1.5em;
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
}

.info-container ul {
    list-style-type: none;
    padding-left: 0;
}

.info-container ul li {
    background: rgba(0, 51, 102, 0.1); /* Slightly transparent background */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.info-container ul li:hover {
    background: rgba(0, 51, 102, 0.2);
}

.info-container p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        max-width: 90%;
        margin-top: 20px;
    }

    .info-container {
        max-width: 90%;
        margin-left: 0;
    }
}
